body {
    background-color: azure;
    background-image: url(Akan2.jpg);
    background-size: cover;
    background-position: center;


    

}
h1 {
    color: red;
    font-size: 300%;
    align-content: center;
    font-style: italic;
    box-shadow: slategray;
    border-bottom-left-radius: 5vh;

}
p {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 0rem;
margin-top: 5vh;
margin-bottom: 5vh;

}
container {
    align-content: center;
}

form {
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
    font-size: 2vh;
    font-family: sans-serif;
    outline: 1;
    background: #f2f2f2;
    background-image: url(Akan2.jpg);
    
    

}
input {
    border-color: blue;
    box-sizing: border-box;
    outline: 1;
    padding-left: 15px;
    margin: 0em;
    align-content: space-between;
    font-size: 14px;



}