body {
    background-color: azure;

}
h1 {
    color: red;
    font-size: 300%;
    align-content: center;
    font-style: italic;
    box-shadow: slategray;
    border-bottom-left-radius: 5vh;
}
p {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 0rem;
margin-top: 5vh;
margin-bottom: 5vh;


}
